@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eleven Note</h1>
    <h3>by Tyler Stambaugh</h3>
    <p class="lead">An example n-tier, MVC web application for creating and retrieving notes..</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Notes</h2>
        <p>
            Suspendisse in est ante in nibh mauris cursus mattis. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet dui. Morbi non arcu risus quis varius quam quisque.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Habitant morbi tristique senectus et netus. Sed enim ut sem viverra. Quisque id diam vel quam elementum pulvinar etiam.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>